// ---------- COLORS ----------
$main-background: hsl(222, 26%, 31%);
$toggle-background: hsl(223, 31%, 20%);
$screen-background: hsl(224, 36%, 15%);
$key-num-background: hsl(30, 25%, 89%);
$key-num-shadow: hsl(28, 16%, 65%);
$key-mod-background: hsl(225, 21%, 49%);
$key-mod-shadow: hsl(224, 28%, 35%);
$key-equ-background: hsl(6, 63%, 50%);
$key-equ-shadow: hsl(6, 70%, 34%);
