// ---------- FONTS ----------
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
$main-font: 'Spartan', sans-serif;

// ---------- COLORS ----------
/*See themes directory for details*/
//Main
$body-background: var(--body-background);
$text-color-1: var(--text-color-1);
$text-color-2: var(--text-color-2);
//Toggle
$toggle-background: var(--toggle-background);
//Screen
$screen-background: var(--screen-background);
//Keyboard
$key-num-background: var(--key-num-background);
$key-num-shadow: var(--key-num-shadow);
$key-del-background: var(--key-del-background);
$key-del-shadow: var(--key-del-shadow);
$key-equ-background: var(--key-equ-background);
$key-equ-shadow: var(--key-equ-shadow);
