.calculator {
    padding-top: 2rem;
    &__screen, &__keyboard {
        border-radius: 10px;
    }
    &__screen {
        display: flex;
        justify-content: flex-end;
        height: 5.5rem;
        background-color: $screen-background;
        box-sizing: border-box;
        output {
            color: $text-color-2;
            font-size: 2rem;
            margin: auto 1.5rem;
        }
    }
    &__keyboard {
        margin-top: 1.5rem;
        padding: 1.5rem;
        background-color: $toggle-background;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__key-num, &__key-del, &__key-equ {
            font-family: $main-font;
            padding: 1rem 0;
            border: none;
            border-radius: 5px;
            height: 4rem;
            cursor: pointer;
            &:active {
                box-shadow: inset 0px 4px 0px 0px $toggle-background;
            }
        }
        &__key-del, &__key-equ {
            width: 47.5%;
            font-size: 1rem;
            color: $text-color-2;
            &:active {
                padding: 1.7rem 0;
            }
        }
        &__key-num, &__key-del:nth-child(4) {
            width: 21.5%;
            margin-bottom: 4.65%;
        }
        &__key-num {
            font-size: 1.8rem;
            background-color: $key-num-background;
            color: $text-color-1;
            box-shadow: inset 0px -4px 0px 0px $key-num-shadow;
            &:active {
                padding: 1.25rem 0;
            }
        }
        &__key-del {
            text-transform: uppercase;
            background-color: $key-del-background;
            box-shadow: inset 0px -4px 0px 0px $key-del-shadow;
        }
        &__key-equ {
            background-color: $key-equ-background;
            box-shadow: inset 0px -4px 0px 0px $key-equ-shadow;
        }
    }
}

@media all and (min-width: 1024px) {
    .calculator {
        width: 33.55rem;
        &__screen {
            height: 8rem;
            output {
                font-size: 3rem;
                margin: auto 2rem;
            }
        }
        &__keyboard {
            padding: 1.9rem;
            &__key-num, &__key-del, &__key-equ {
                border-radius: 10px;
                height: 4.05rem;
            }
            &__key-del, &__key-equ {
                font-size: 1.2rem;
            }
            &__key-num {
                font-size: 2rem;
            }
        }
    }
}
